* {
    box-sizing: border-box;
    color: #95dac1;
    background-color: #000;
  }
  html {
    font-size: 62.5%;
  }
  
  body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
  }
  h1 {
    color: #fd6f96;
    font-size: 3.2rem;
  }
  .btn {
    padding: 0.5rem 2rem;
    font-size: 2.4rem;
    border: 1px solid #6f69ac;
    border-radius: 10px;
    color: #ffeba1;
    background-color: #6f69ac;
  }
  
  .btn:hover {
    color: #6f69ac;
    background-color: #ffeba1;
    border-color: #ffeba1;
  }
  span {
    font-weight: 700;
  }
  #kanaal,
  #marla {
    width: 8rem;
  }
  div {
    margin: 1rem;
  }
  